[submodule "wp"]
	path = wp
	url = https://github.com/WordPress/WordPress.git
[submodule "reactor"]
	path = content/mu-plugins/reactor
	url = https://github.com/blueriotlabs/reactor.git
[submodule "inertia"]
	path = content/themes/inertia
	url = https://github.com/blueriotlabs/inertia.git
[submodule "roots"]
	path = content/themes/roots
	url = https://github.com/retlehs/roots.git
[submodule "wordpress-seo"]
	path = content/plugins/wordpress-seo
	url = https://github.com/jdevalk/wordpress-seo.git
[submodule "content/plugins/woocommerce"]
	path = content/plugins/woocommerce
	url = https://github.com/woothemes/woocommerce.git
